* { 
margin: 0;
padding: 0;
}

body { 
color: #333;
font: 11px/18px Lucida Grande, Arial, sans-serif;
}

canvas { 
margin: 20px 0;
background: #eee url(gee.png) center 47% no-repeat;
}

#container { 
width: 515px;
margin: 0 auto;
}

dt { 
	float: left;
	width: 110px;
	clear: both;
	font-weight: bold;
}

p, ul, ol { 
	font-size: 12px;
	clear: both;
	line-height: 20px; 
	margin-bottom: 24px; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    color: #222;
    margin: 30px 0;
}

h2 code { 
font-weight: normal;
font-size: 15px;
}

dd { 
float: right;
width: 340px;
margin-bottom: 15px;
}

hr { 
height: 1;
clear: both;
border: 0;
background-color: #eee;
margin: 15px 0 18px 0;
}

code { 
font-family: Monaco, monospace;
color: #555;
}

dt:after { 
display: block;
float: right;
font-weight: normal;
border-radius: 5px;
background-color: #000;
color: #fff;
font-size: 9px;
font-weight: bold;
padding: 0 5px;
margin-right: -35px;
text-align: center;
width: 20px;
}

dt.function:after { 
content: 'func';
background-color: #e61d5f;
}

dt.number:after { 
content: 'num';
background-color: #00aeef;
}

dt.string:after { 
content: 'str';
background-color: #1ed36f;
}

dt.dom:after { 
content: 'DOM';
font-size: 8px;
background-color: #888;
}

dt.boolean:after { 
content: 'bool';
background-color: #54396e;
}

.hint {
display: block;
color: #666;
font-style: italic;
}

dt.readonly { 
background: url(lock.gif) left center no-repeat;
padding-left: 30px;
margin-left: -30px;
}

footer { 
margin-top: 20px;
margin-bottom: 30px;
background-color: #eee;
width: 510px;
padding: 10px;
clear: both;
color: #444;	
}

a:link {
color: #00aeff;
}

a:visited {
color: #0fa954;
}

a:hover {
color: #e61d5f;
}

a:active {
color: #54396e;
}

.clear { 
clear: both;
}

pre { 
    margin: 20px 0 20px 0;
    padding: 15px;
    background-color: #222;
    max-width: 500px;
    font: 10px Monaco, monospace;
    clear: both;
}


ol, ul { 
padding-left: 25px;
}

/* SPAN elements with the classes below are added by prettyprint. */
.str { color: #0fa954; }
.kwd { color: #e61d5f; }
.com { color: #555; }
.typ { color: #ccc; }
.lit { color: #00aeff; }
.pun, .opn, .clo { color: #777; }
.pln { color: #ccc; }
.tag { color: #555; }
.atn { color: #555; }
.atv { color: #777; }
.dec { color: #606; }