/* fonts
-------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Georgia';
    src: url('webfonts/georgia.eot');
    src: url('webfonts/georgia.eot?#iefix') format('embedded-opentype'),
         url('webfonts/georgia.woff') format('woff'),
         url('webfonts/georgia.ttf') format('truetype'),
         url('webfonts/georgia.svg#georgia') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CoustardRegular';
    src: url('webfonts/coustard-webfont.eot');
    src: url('webfonts/coustard-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/coustard-webfont.woff') format('woff'),
         url('webfonts/coustard-webfont.ttf') format('truetype'),
         url('webfonts/coustard-webfont.svg#CoustardRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* bootstrap
-------------------------------------------------------------------------------*/
@import "less/bootstrap.less";
@import "less/responsive.less";

/* general variables
-------------------------------------------------------------------------------*/

@displayFontFamily: 'CoustardRegular', @sansFontFamily;

@backgroundColor: @white;
@minHeight: 600px;

.fullWidth {
	position: relative;
	width: 100%;
	min-width: 100%;
}

.fullHeight {
	position: relative;
	height: 100%;
	min-height: @minHeight;
}

.fullMin {
	min-width: 100%;
	min-height: @minHeight;
}

.fullscreen {
	.fullWidth;
	.fullHeight;
	margin: 0;
	padding: 0;
}

.fullscreenMin {
	.fullscreen;
	.fullMin;
}

.fullscreenTopLeftNoWidth {
	.fullHeight;
	.fullMin;
	position: absolute;
	left: 0;
	top: 0;
}

.inline-block {
	display:inline-block;
	*display:inline;
	zoom:1;
}

/* rounded 
-------------------------*/

.rounded-top (@radius) {
	.border-radius(@radius @radius 0 0);
}

.rounded-bottom (@radius) {
	.border-radius(0 0 @radius @radius);
}

/* valign 
-------------------------*/

[class^="valign"], [class*=" valign"]{
	display: table;
	.clearfix();
	
	[class^="valign-cell"], [class*=" valign-cell"] {
		display: table-cell; 
		vertical-align: middle;
		text-align: center;
		width: auto;
		margin: 0 auto;
		
		p {
			margin: 0;
			padding: 5px;
		}
	}
	
}

.valign-expand {
	width: 100%;
}

/* html / body
-------------------------------------------------------------------------------*/

html {
	overflow: auto;
}

html, body {
	.fullscreen;
    background-color: @backgroundColor;
}

/* unselectable 
-------------------------*/
.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;   
}

/* hidden elements 
-------------------------*/

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden !important; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* ignores 
-------------------------*/

* {
	position: relative;
	pointer-events: auto;
}

.ignore-pointer {
	pointer-events: none;
}

.disabled {
	cursor: default !important;
	opacity: 0.5;
	.ignore-pointer;
	
	* {
		.ignore-pointer;
	}
}

/* icons 
-------------------------*/

[class^="iconk-"], [class*=" iconk-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: middle;
	padding: 5px;
}

.iconk-small {
	width: 24px;
	height: 24px;
}

.iconk-medium {
	width: 32px;
	height: 32px;
}

.iconk-large {
	width: 46px;
	height: 46px;
}

.iconk-huge {
	width: 52px;
	height: 52px;
}

.iconk-giant {
	width: 64px;
	height: 64px;
}

.iconk-topRight {
	position: relative;
	top: -2px;
	line-height: 18px;
	float: right;
	padding: 0;
}

.iconk-widthFollow {
	width: auto;
}
.iconk-heightFollow{
	height: auto;
}

.iconk-tight {
	display: block;
	float: left;
	padding: 1px;
}

/* badges 
-------------------------*/

.badge-top {
	position: absolute;
	top: 4px;
}

.badge-bottom {
	position: absolute;
	bottom: 4px;
}

.badge-left {
	position: absolute;
	left: 2px;
}

.badge-right {
	position: absolute;
	right: 2px;
}

/* buttons 
-------------------------*/

.btn {
	z-index: 1;
}

.btn-huge {
	padding: 14px 20px;
	font-size: 32px;
	.border-radius( 10px );
}

.btn-outline {
	background: none;
	border-width: 1px;
	border-color: @grayDark;
	color: @grayDark;
	text-shadow: none;
	.box-shadow( none );
	
	&:hover {
		color: @grayDarker;
		border-color: @grayDark;
		background: none;
	}
}

.btn-outlineRev {
	.btn-outline;
	border-color: @whiteDarker;
	color: @whiteDarker;
	
	&:hover {
		color: @white;
		border-color: @whiteDarker;
		background: none;
	}
}

.btn-radiusless {
	.border-radius( 0 );
}

.btn-circle-small {
	width: 80px;
	height: 80px;
	padding: 6px;
	.border-radius( 40px );
}

.btn-circle-medium {
	width: 96px;
	height: 96px;
	padding: 10px;
	.border-radius( 48px );
}

.btn-circle-large {
	width: 128px;
	height: 128px;
	padding: 12px;
	.border-radius( 64px );
}

.btn-circle-huge {
	width: 144px;
	height: 144px;
	padding: 16px;
	.border-radius( 72px );
}

.btn-circle-giant {
	width: 160px;
	height: 160px;
	padding: 20px;
	.border-radius( 80px );
}

/* anchors 
-------------------------*/

a {
	display: inline-block;
	z-index: 1;
}

a, .navbar .nav > li > a {
	cursor: pointer;
	
	&:hover {
		cursor: pointer;
	}
	
}

/* containers 
-------------------------*/

.menu {
	
	header, section {
		padding-top: 50px;
		padding-bottom: 30px;
		border-top: 70px solid transparent;
		margin-top: -70px;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
		background-clip: padding-box;
	}
	
}

.container-center {
	text-align: center;
	
	.brand {
		float: none;
		position: absolute;
	}
	
	.nav {
		.inline-block;
		float: none;
	}
	
	.thumbnails {
		.inline-block;
		float: none;
	}
	
}

/* alerts 
-------------------------*/

.alert {
	
	.alert-action {
		margin-top: 15px;
	}
}

/* wells 
-------------------------*/

.well-success {
	background-color: @successBackground;
}

/* hero unit 
-------------------------*/

.hero-unit {
	h2 {
		margin-bottom: 0;
		font-size: 30px;
		line-height: 1.5;
	}
}

.squire-unit {
	padding: 30px;
	margin: 0;
}

/* navbar 
-------------------------*/

.navbar {
	z-index: 3;
}

/* subnavbar 
-------------------------*/

.subnavbar {
	z-index: 2;
	
	.navbar-inner {
		min-height: 0;
		padding: 0;
		width: 100%;
		#gradient > .vertical( @grayLighter, @whiteDarker );
		border: 1px solid darken(@whiteDarker, 3%);
		.box-shadow(~"none");
	}
	
	.nav {
		
		li {
			a {
				margin: 0;
				padding-top: 11px;
				padding-bottom: 11px;
				border-left: 1px solid @grayLighter;
				border-right: 1px solid darken(@whiteDarker, 3%);
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				text-shadow: none;
			}
			
			&.active {
				a, a:hover {
					background-color: darken(@whiteDarker, 5%);
					border-right-color: darken(@whiteDarker, 3%);
					border-left-color: rgba(0,0,0,0);
					.box-shadow(~"inset 0 3px 5px rgba(0,0,0,.1)");
				}
				
				a .caret, a:hover .caret {
					border-top-color: #777;
				}
			}
			
			&:first-child > a,
			&:first-child > a:hover {
				border-left-color: rgba(0,0,0,0);
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				/*-webkit-border-radius: 4px 0 0 4px;
				-moz-border-radius: 4px 0 0 4px;
				border-radius: 4px 0 0 4px;*/
			}
			
			&:last-child > a {
				border-right-color: rgba(0,0,0,0);
			}
		}
		
	}
	
	.dropdown-menu {
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
	}
	
	&.is-sticky {
		margin: 0;
		border-color: #D5D5D5;
		border-width: 0 0 1px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		.box-shadow(~"inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1)");
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	}
	
}

/* nav 
-------------------------*/

.nav {
	margin: 0;
}

.nav-inline {
	display: inline-block;
	float: none;
	margin-bottom: -2px;
	
	li {	
		display: inline-block;
		float: none;
		vertical-align: middle;
	}
}

.nav-buttons {
	li {
		margin: 5px;
	}
}

.nav-icon {
	display: block;
	text-align: center;
	padding: 5px 10px 5px 10px;
	
	p {
		margin: 10px 0 0 0;
	}
}

.nav-pills {
	h6 {
		line-height: inherit;
	}
}

/* nav misc 
-------------------------*/

.navbar-flush, .navbar-flush .navbar-inner {
	.navbar-fixed-top .navbar-inner;
	border-left: none;
	border-right: none;
	margin: 0;
}

.is-sticky {
	
	.subnavbar, &.subnavbar {
		.fullWidth;
		z-index: 1010;
	}
	
}

/* subhead 
-------------------------*/

.subhead {
	margin-bottom: 9px;
	
	h1 {
		margin-bottom: 9px;
		font-size: 56px;
		font-weight: bold;
		letter-spacing: -1px;
		line-height: 1;
	}
	
	h2 {
		margin-top: 6px;
		margin-bottom: 9px;
		font-size: 40px;
		font-weight: bold;
		letter-spacing: -1px;
		line-height: 1;
	}
	
	p {
		margin-bottom: 18px;
	}
	
	.alert {
		padding: 5px;
		margin: 0;
	}
	
	[class^="iconk-"], [class*=" iconk-"] {
		float: left;
		margin: 0 10px 0 0;
	}
	
}

/* grid 
-------------------------*/

/* responsive override */

@media (min-width: 0px) and (max-width: 979px) {

  // Fixed grid
  #grid > .core(42px, 20px);

  // Fluid grid
  #grid > .fluid(5.801104972%, 2.762430939%);

  // Input grid
  #grid > .input(42px, 20px);

}

.grid-gutterless {
	
	li {
		margin: 0;
		
		p {
			margin-top: 10px;
		}
	}
	
	#grid > .core(78px, 0px);
	
	@media (min-width: 1200px) {
		
		// Fixed grid
		#grid > .core(97px, 0px);
		
	}
	
	@media (min-width: 0px) and (max-width: 979px) {
		
		// Fixed grid
		#grid > .core(60px, 0px);
		
	}
	
	[class^="thumbnails"], [class*=" thumbnails"] {
		float: none;
		
		.thumbnail {
			margin: 3px;
			padding: 0;
			border: none;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
		
	}
	
	.thumbnails0 {
		.thumbnail {
			margin: 0;
		}
	}
	
	.thumbnails1 {
		.thumbnail {
			margin: 1px;
		}
	}
	
	.thumbnails2 {
		.thumbnail {
			margin: 2px;
		}
	}
	
	.thumbnails4 {
		.thumbnail {
			margin: 4px;
		}
	}
	
	.well {
		
		[class^="thumbnails"], [class*=" thumbnails"] {
			margin-bottom: 0px;
		}
		
	}
}

/* sections 
-------------------------*/

#game {
	.fullscreenTopLeftNoWidth;
	overflow:hidden;
	z-index: 1000;
}

#transitioner {
	.fullscreenTopLeftNoWidth;
	background: @gray;
	z-index: 3000;
}

#ui {
	.fullscreenTopLeftNoWidth;
	
	#navMenus {
		.fullWidth;
		#gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
		.box-shadow(~"0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1)");
		z-index: 9999;
		
		.navbar-inner {
			.box-shadow(~"none");
		}
		
		.btn-navbar {
			float: none;
			margin-top: 50%;
		}
		
		.nav {
			
			li {
				a {
					
					[class^="iconk-"], [class*=" iconk-"] {
						padding: 0;
					}
					
				}
				
				&.active {
					a, a:hover {
						
					}
				}
			}
			
		}
		
	}
	
	#statusInactive {
		
	}

	#statusActive {
		position: relative;
		z-index: 9998;
		
		.status-item {
			margin: 0;
			
			.hero-unit, .squire-unit {
				.border-radius(0);
			}
			
			&:last-child {
				.hero-unit, .squire-unit {
					.rounded-bottom(15px);
				}
			}
		}
		
		.status-item + .status-item {
			margin-top: 10px;
		}
		
	}
	
	#inGame {
		.fullscreenTopLeftNoWidth;
		overflow:hidden;
		z-index: 2000;
		
		#primaryActionsInactive {
			
		}
		
		#primaryActionsActive {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			
			.primaryAction-item {
				padding: 10px;
			}
			
			.primaryAction-item:last-child {
				margin-bottom: 20px;
			}
			
		}
		
		#navStart {
			
		}
		
	}
	
	#outGame {
		position: absolute;
		top: 100%;
		min-width: 100%;
		.clearfix();
		
		#menus {
			
		}
		
	}
		
	#preloader {
		
	}
	
	#worker {
		position: relative;
		
		.work {
			.progress-bar {
				margin-top: 14px;
			}
		}
		
	}
	
	#footer {
		font-size: 13px;
		position: relative;
		margin-top: 10px;
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px solid #E5E5E5;
	}

}

/* logo 
-------------------------*/

.logo-group {
	
	.logo {
		padding-top: 10px;
		opacity: 0.75;
		color: @white;
		cursor: pointer;
		.clearfix();
		
		&:hover {
			color: @white;
			text-decoration: none;
		}
		
		h1 {
			float: left;
			margin-top: 12px;
		}
		
		#logoIcon1 {
			margin-right: 5px;
		}

		#logoIcon2 {
			margin-left: -5px;
			margin-top: -5px;
		}

		#logoIcon3 {
			margin-left: -18px;
			margin-top: 8px;
		}

		.logo-icon {
			float: left;
		}
		
	}
	
	.open {
		
		.logo {
			opacity: 1;
		}
		
	}
	
	.btn-group {
		padding: 0;
		
		.dropdown-toggle {
			border: 0;
			box-shadow: none;
		}
		
		.caret {
			position: absolute;
			bottom: 15px;
			right: 0;
			border-top-color: @white;
		}
	}
	
}

.logo-type {
	font-family: @displayFontFamily;
}

/* errors
-------------------------*/

.browsers {
    margin-bottom: 9px;
	
	.browser-icon {
		background-position: 50% 0;
		background-repeat:no-repeat;
		padding-top:95px;
		width: 95px;
		margin: 0 20px 0 20px;
	}

	.chrome {
		.browser-icon;
		background-image:url(../assets/icons/browsers_chrome.png);
	}

	.firefox {
		.browser-icon;
		background-image:url(../assets/icons/browsers_firefox.png);
	}

	.safari {
		.browser-icon;
		background-image:url(../assets/icons/browsers_safari.png);
	}
}

/* farming 
-------------------------*/

#farming {

	.tools {
		
		h3 {
			margin-bottom: 10px;
		}
		
		p {
			margin: 0;
		}
	}

	#fieldRewards {
		
		h4 {
			margin-top: 9px;
			margin-bottom: 4px;
		}

		.field-rewardsList {
			
			p {
				margin: 0;
			}
			
		}
		
	}

	#plantOverview {
		margin-bottom: 10px;
	}

	#plantCustomInfo {
		
		.page-header {
			margin-top: 0;
		}
		
		#plantCustomInfoText {
			margin-bottom: 20px;
		}
		
	}
	
}

/* options 
-------------------------*/

#options {
	
	#data {
		
		#progressCode {
			max-width: 100%;
			max-height: 300px;
		}
		
	}
}