/* fonts
-------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Georgia';
    src: url('webfonts/georgia.eot');
    src: url('webfonts/georgia.eot?#iefix') format('embedded-opentype'),
         url('webfonts/georgia.woff') format('woff'),
         url('webfonts/georgia.ttf') format('truetype'),
         url('webfonts/georgia.svg#georgia') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CoustardRegular';
    src: url('webfonts/coustard-webfont.eot');
    src: url('webfonts/coustard-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/coustard-webfont.woff') format('woff'),
         url('webfonts/coustard-webfont.ttf') format('truetype'),
         url('webfonts/coustard-webfont.svg#CoustardRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* bootstrap
-------------------------------------------------------------------------------*/
@import "less/bootstrap.less";
@import "less/responsive.less";

/* general variables
-------------------------------------------------------------------------------*/

@displayFontFamily: 'CoustardRegular', @sansFontFamily;

.logo_type {
	font-family: @displayFontFamily;
}

@minWidth: @gridRowWidth;
@minHeight: 500px;

.fullWidth {
	position: relative;
	width: 100%;
	min-width: 100%;
}

.fullHeight {
	position: relative;
	height: 100%;
	min-height: 100%;
}

.fullscreen {
	.fullWidth;
	.fullHeight;
	margin: 0;
	padding: 0;
}
.fullscreenMin {
	.fullscreen;
	min-width: @minWidth;
	min-height: @minHeight;
}
.fullscreenTopLeft {
	.fullscreenMin;
	position: absolute;
	left: 0;
	top: 0;
}
.fullscreenFixed {
	.fullscreenMin;
	position: fixed;
	top: 0;
	left: 0;
}
.fullscreenCleared {
	.fullscreenMin;
	.clearfix();
}

.inline-block {
	display:inline-block;
	*display:inline;
	zoom:1;
}

@shadowH: 0px;
@shadowV: 0px;
@shadowBlur: 5px;
@shadowSpread: 1px;
@shadowColor: rgba(0, 0, 0, 0.1);
.dropShadow {
	-moz-box-shadow: @shadowH @shadowV @shadowBlur @shadowSpread @shadowColor;
    -webkit-box-shadow: @shadowH @shadowV @shadowBlur @shadowSpread @shadowColor;
	box-shadow: @shadowH @shadowV @shadowBlur @shadowSpread @shadowColor;
}

/* type 
-------------------------*/

.center-type {
	display: table;
	
	[class^="center-typeInner"], [class*=" center-typeInner"] {
		display: table-cell; 
		vertical-align: middle; 
		text-align: center;
		width: 100%;
		margin: 0 auto;
		
		p {
			margin: 0;
		}
	}
	
	.center-typeInnerImg {
		width: auto;
		
		p {
			padding: 5px;
		}
		
	}
}

/* html / body
-------------------------------------------------------------------------------*/

html {
	overflow: auto;
}

html, body {
	.fullscreen;
    background-color: @white;
}

/* unselectable 
-------------------------*/
.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;   
}

/* hidden elements 
-------------------------*/

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* icons 
-------------------------*/

[class^="iconk-"], [class*=" iconk-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	padding: 5px;
}

.iconk-small {
	width: 24px;
	height: 24px;
}

.iconk-medium {
	width: 32px;
	height: 32px;
}

.iconk-large {
	width: 46px;
	height: 46px;
}

.iconk-huge {
	width: 52px;
	height: 52px;
}

.iconk-giant {
	width: 64px;
	height: 64px;
}

.iconk-topRight {
	position: relative;
	top: -2px;
	right: -21px;
	line-height: 18px;
	float: right;
	padding: 0;
}

/* buttons 
-------------------------*/

.btn {
	
}

/* containers 
-------------------------*/

section {
	padding-top: 60px;
}

.container-center {
	text-align: center;
	
	.brand {
		float: none;
		position: absolute;
	}
	
	.nav {
		.inline-block;
		float: none;
		margin-bottom: -4px;
		
	}
	
	.thumbnails {
		.inline-block;
		float: none;
	}
	
}

/* nav 
-------------------------*/

.nav {
	margin: 0;
}

.nav-icon {
	text-align: center;
	padding: 5px 10px 5px 10px;
	min-width: 80px;
	min-height: 80px;
	
	p {
		margin: 10px 0 0 0;
	}
}

.nav-collapse {
	.nav-icon {
		margin: 3px 0 3px 0;
	}
}

.navbar-fixed {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1020;
	border-color: #D5D5D5;
	border-width: 0 0 1px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* subnav 
-------------------------*/

.subnav {
	
	.navbar-inner {
		min-height: 0;
		padding: 0;
		width: 100%;
		background-color: @whiteDarker; /* Old browsers */
		background-repeat: repeat-x; /* Repeat the gradient */
		background-image: -moz-linear-gradient(top, @grayLighter 0%, @whiteDarker 100%); /* FF3.6+ */
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@grayLighter), color-stop(100%,@whiteDarker)); /* Chrome,Safari4+ */
		background-image: -webkit-linear-gradient(top, @grayLighter 0%,@whiteDarker 100%); /* Chrome 10+,Safari 5.1+ */
		background-image: -ms-linear-gradient(top, @grayLighter 0%,@whiteDarker 100%); /* IE10+ */
		background-image: -o-linear-gradient(top, @grayLighter 0%,@whiteDarker 100%); /* Opera 11.10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@grayLighter', endColorstr='@whiteDarker',GradientType=0 ); /* IE6-9 */
		background-image: linear-gradient(top, @grayLighter 0%,@whiteDarker 100%); /* W3C */
		border: 1px solid darken(@whiteDarker, 3%);
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	.nav {
		
		li {
			a {
				margin: 0;
				padding-top: 11px;
				padding-bottom: 11px;
				border-left: 1px solid @grayLighter;
				border-right: 1px solid darken(@whiteDarker, 3%);
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				text-shadow: none;
			}
			
			&.active {
				a, a:hover {
					background-color: @white;//@grayLighter;//darken(@whiteDarker, 5%);
					border-right-color: darken(@whiteDarker, 3%);
					border-left-color: rgba(0,0,0,0);
					-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.1);
					-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.1);
					box-shadow: inset 0 3px 5px rgba(0,0,0,.1);
				}
				
				a .caret, a:hover .caret {
					border-top-color: #777;
				}
			}
			
			&:first-child > a,
			&:first-child > a:hover {
				border-left-color: rgba(0,0,0,0);
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				/*-webkit-border-radius: 4px 0 0 4px;
				-moz-border-radius: 4px 0 0 4px;
				border-radius: 4px 0 0 4px;*/
			}
			
			&:last-child > a {
				border-right-color: rgba(0,0,0,0);
			}
		}
		
	}
	
	.dropdown-menu {
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
	}
	
}

.navbar-flush, .navbar-flush .navbar-inner {
	.navbar-fixed-top .navbar-inner;
	border-left: none;
	border-right: none;
}

/* subhead 
-------------------------*/

.subhead {
	margin-bottom: 9px;
	
	h1 {
		margin-bottom: 9px;
		font-size: 56px;
		font-weight: bold;
		letter-spacing: -1px;
		line-height: 1;
	}
	
	h2 {
		margin-top: 6px;
		margin-bottom: 9px;
		font-size: 40px;
		font-weight: bold;
		letter-spacing: -1px;
		line-height: 1;
	}
	
	p {
		margin-bottom: 18px;
	}
	
	.alert {
		padding: 5px;
		margin: 0;
	}
	
	[class^="iconk-"], [class*=" iconk-"] {
		float: left;
		margin: 0 10px 0 0;
	}
	
}

/* thumbnails 
-------------------------*/

.grid-gutterless {
	
	li {
		margin: 0;
		
		p {
			margin-top: 10px;
		}
	}
	
	// Fixed grid
	#grid > .core(78px, 0px);
	
	@media (min-width: 1200px) {
		
		// Fixed grid
		#grid > .core(97px, 0px);
		
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		// Fixed grid
		#grid > .core(60px, 0px);
		
	}
	
	.thumbnails {
		float: none;
		
		.thumbnail {
			margin: 3px;
			padding: 0;
			border: none;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
		
	}
	
	.well {
		
		.thumbnails {
			margin-bottom: 0px;
		}
		
	}
}

/* sections 
-------------------------*/

#game {
	.fullscreenTopLeft;
	overflow:hidden;
}

#ui {
	.fullscreenTopLeft;
	
	#ingame {
		.fullscreenCleared;
		
		#preloader {
			margin-top: 60px;
		}
		
	}
	
	#outgame {
		.fullWidth;
		min-height: @minHeight;
		.clearfix();
		margin-top: -104px;
		margin-bottom: 60px;
		
		#active {
			
		}
		
		#menuNav {
			.nav {
				
				li {
					a {
						color: @grayLight;
						&:hover {
							color: @gray;
						}
					}
					
					&.active {
						a, a:hover {
							color: @gray;
						}
					}
				}
				
			}				
			
		}
		
		#menus {
			
		}
		
	}
	
	#preloader {
		
	}
	
	#transitioner {
		.fullscreenFixed;
		background: @whiteDarker;
		display: none;
	}

	#overlay {
		.fullscreenFixed;
		
		#info {
			margin-top: 50px;
			margin-bottom: 50px;

			#errors {
				
			}
			
		}
		
	}
	
	#footer {
		.dropShadow;
		color: @grayLighter;
		position: relative;
		z-index: 9999;
		
		a:hover {
			color: @blueLight;
		}
		
		#title {
			
			header {
				float: left;
				margin-top: 0;
			}
			
			#logo {
				padding-top: 22px;
				margin: 0;
				
				span {
					float: left; 
					padding-left: 20px;
					padding-right: 20px;
					margin: 14px 10px 0 10px;
				}
				
				.icon {
					padding: 0;
					margin: 10px 25px 0 -20px;
					border: none;
				}
				
				#logo_icona {
					width: 48px;
					height: 48px;
					margin-left: -30px;
					margin-right: -5px;
					margin-top: -4px;
				}
				
				#logo_iconb {
					width: 48px;
					height: 48px;
					margin-left: -20px;
					margin-right: -32px;
					margin-top: -9px;
				}
				
				#logo_iconc {
					width: 32px;
					height: 32px;
					margin-left: -16px;
					margin-right: -32px;
					margin-top: 7px;
				}
				
			}
			
			#copyright {
				text-align: center;
				padding-bottom: 10px;
				clear:both;
			}
			
		}
		
	}

}

/* field 
-------------------------*/

.field-rewardsList {
	
	p {
		margin: 0;
	}
	
}

/* plant 
-------------------------*/

#plantOverview {
	margin-bottom: 10px;
}

#plantTools {
	
	h3 {
		margin-bottom: 10px;
	}
	
	p {
		margin: 0;
	}
}

/* collection 
-------------------------*/

#plantPotentialInfo {

	#plantPotentialTitle {
		margin-bottom: 20px;
	}
	
	#plantPotentialInfoText {
		margin-bottom: 20px;
	}
	
}